[submodule "Submodules/MUKScrolling"]
	path = Submodules/MUKScrolling
	url = git://github.com/muccy/MUKScrolling.git
[submodule "Submodules/MUKNetworking"]
	path = Submodules/MUKNetworking
	url = git://github.com/muccy/MUKNetworking.git
[submodule "Submodules/MUKObjectCache"]
	path = Submodules/MUKObjectCache
	url = git://github.com/muccy/MUKObjectCache.git
[submodule "Submodules/MUKToolkit"]
	path = Submodules/MUKToolkit
	url = git://github.com/muccy/MUKToolkit.git
[submodule "Submodules/MUKImageFetcher"]
	path = Submodules/MUKImageFetcher
	url = git://github.com/muccy/MUKImageFetcher.git
[submodule "Submodules/LBYouTubeView"]
	path = Submodules/LBYouTubeView
	url = git://github.com/muccy/LBYouTubeView.git
